.details-slide-item{
  min-height: 500px;
  img{
    max-width: 300px;
    width: 100%;
  }
}


.detailsNav{
  .slick-slide{
    .details-slide-nav{
      max-width: 115px;
      height: 100px;
      img{
        width: 70px;
        margin: auto;
      }
      border: 1px solid transparent;
      cursor: pointer;
      transition: all 0.2s linear;
    }
    &.slick-active{
      &.slick-current{
        .details-slide-nav{
        border-color: var(--green);
        }
      }
    }
  }
}

.slick-prev {
    left: 20px;
    z-index: 100;
}
.slick-next {
    right: 20px;
}
.slick-next:before, .slick-prev:before {
    color: #a1b3a9 !important;
    opacity: 1;
}
.size-wrapper{
  .select-item{
    cursor: pointer;
    input:checked ~ {
      .check{
        background-color: var(--dark1) !important;
        color: #fff;
      }
    }
  }
}
.h-42{
  height: 42px;
}
.h-48{
  height: 48px;
}
.w-80{
  width: 80px;
}
.border1Green{
  border: 1px solid #C8D9D0;
}
.borderB1Green{
  border-bottom: 1px solid #C8D9D0;
}
button{
  &:focus{
    border-color: #C8D9D0 !important;
    outline: none;
    box-shadow: none;
  }
}